<template>
                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" v-on:click="toggleMenu">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Menu</span> 
                            </button> 
                          &nbsp&nbsp  {{ title }}
                        </div>

                      
                        <div>
                          <b-nav>
        <router-link to="/profile" tag="button" class="btn">Profile</router-link>&nbsp&nbsp&nbsp
        <button class="btn btn-danger" v-if="isAuthenticated" @click="signout()">Log out</button>
  </b-nav>
</div>
                
                    </div>
                </nav>
</template>

<script>
import auth from '../auth/auth';
import { EventBus } from '../../utils/event-bus.js';

export default {
  name: 'app-nav',
    data() {
    return {
      isActive: false,
      title: 'turelo',
    }
  },
   created() {
    let self = this;
    EventBus.$on('title', incomingTitile => {
      self.title = incomingTitile
    })
  },
  computed: {
    isAuthenticated: function () {
      return this.$store.getters.isAuthenticated
    },
    firstname () {
      var string = this.$store.getters.profile.name.split(' ')[0]
      var mutated = string.charAt(0).toUpperCase() + string.slice(1);
      return mutated
    }
  },
  methods: {
    signout () {
      this.$store.dispatch('signout').then(() => {
        this.$router.push({ name: 'landing' })
      })
    },
    toggleMenu: function (event) {
      EventBus.$emit('toggle-menu');
   }
  }
};
</script>

