<template>
  <div>
<div>
  <b-container>
        your id is {{ feedEntry }}
   </b-container>
</div>


  </div>
</template>

<script>
import { getFeedEntry } from '@/../utils/feeds-api';
import { EventBus } from '@/../utils/event-bus.js';
import router from '@/router'

export default {
  name: 'feedEntry',
  data() {
    return {
      feedEntry: [],
    };
  },
  created() {
     this.id = this.$route.params.id;
  },
  mounted() {
    this.getFeedEntry(this.$route.params.id);
  },
  methods: {
    getFeedEntry(id) {
      getFeedEntry(id).then((feedEntry) => {
        this.feedEntry = feedEntry.data;
      });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>