<template>
<div>
  <b-container>
    <b-card-group columns>
    <div v-for="feed in feeds">
  <b-card :title="feed.FeedName"
          img-src="https://lorempixel.com/400/200/"
          img-alt="Image"
          img-top
          tag="article"
          style="max-width: 20rem;"
          class="mb-2">
    <p class="card-text">
      {{ feed.FeedDescription }}
    </p>
    <b-button :to="{ name: 'FeedView', params: { id: feed.FeedID } }">Go to Feed</b-button>
</b-card>
 </div>
  </b-card-group>
  </b-container>
        <!-- Modal Component -->
  <b-modal id="modal1" centered title="Bootstrap-Vue">
    <p class="my-4">Hello from modal!</p>
  </b-modal>
</div>
</template>

<script>
import { getFeeds } from '@/../utils/feeds-api';
import { EventBus } from '@/../utils/event-bus.js';

export default {
  name: 'feeds',
  data() {
    return {
      feeds: [],
    };
  },
  mounted() {
    this.getFeeds();
  },
  created() {
    EventBus.$emit('title', 'feeds');
  },
  methods: {
    getFeeds() {
      getFeeds().then((feeds) => {
        this.feeds = feeds.data;
      });
    }
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>