<template>
  <div id="app">
    <div class="wrapper">
      <side-nav></side-nav>
    <div id="content">  
      <app-nav />
      <router-view/>
    </div>
    </div>
  </div>
</template>

<script>
import AppNav from './AppNav';
import SideNav from './SideNav';

export default {
  name: 'home',
  components: {
    AppNav,
    SideNav
  },
  computed: {
    firstname () {
      var string = this.$store.getters.profile.name.split(' ')[0]
      var mutated = string.charAt(0).toUpperCase() + string.slice(1);
      return mutated
    }
  },
};
</script>

