<template>
  <div>
    <app-nav></app-nav>
    <br><br>
  <b-container>
          <h1>Hi {{ firstname }}</h1>
    <hr>
    <br>
      <p>I believe your email address is {{ email }}</p>
  </b-container>
  </div>
</template>

<script>
import auth from '../auth/Auth';
export default {
  name: 'profile',
  components: {
  },
  computed: {
    isAuthenticated: function () {
      return this.$store.getters.isAuthenticated
    },
    firstname () {
      var string = this.$store.getters.profile.name.split(' ')[0]
      var mutated = string.charAt(0).toUpperCase() + string.slice(1);
      return mutated
    },
    email () {
      return this.$store.getters.profile.email.split(' ')[0]
    }
  },
  methods: {
    authenticate () {
      auth.authenticate()
    },
    signup () {
      auth.signup()
    },
    signout () {
      this.$store.dispatch('signout').then(() => {
        this.$router.push({ name: 'login' })
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
