<template>
<div>
            <nav id="sidebar" v-bind:class="{ collapse: isActive }">
                <div class="sidebar-header">
                    <h3>turelo</h3>
                </div>

                <ul class="list-unstyled components">
                    <br>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/discovery">Discovery</a>
                    </li>
                    <li>
                        <a href="/categories">Categories</a>
                    </li>
                    <li>
                        <a href="/feeds">Feeds</a>
                    </li>
                </ul>
            </nav>
 </div>           
</template>

<script>
import { EventBus } from '../../utils/event-bus.js';

export default {
  name: 'side-nav',
  data() {
    return {
      isActive: false,
    };
  },
 created() {
    let self = this;
    EventBus.$on('toggle-menu', function () {
      self.isActive= !self.isActive
    })
  }
 };

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>